<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ergebnisse</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/ergebnisse.css">
</head>
<body>
    <header class="header">
        <a href="index.html"><img src="/assets/Logo.png" class="logo"></a>
        <input type="checkbox" id="check">
        <label for="check" class="menu">
            <i class="bx bx-menu" id="icon-menu"></i>
            <i class="bx bx-x" id="close-menu"></i>
        </label>    
        <nav class="navbar">
            <a href="index.html">Startseite</a>
            <a href="stadien.html">DFB-Kader</a>
            <a href="stadien.html">Stadien</a>
            <a href="ergebnisse.html" style="color: #C1A875">Ergebnisse</a>
            <a href="forum.html">Forum</a>
            <a href="login.html">Login</a>
        </nav>
        </header>
        <div class="container">
            <div class="maincontainer">
                <h1>Spiele & Ergebnisse</h1>
                <div class="boardcontainer">
                    <p1>Freitag, 14. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 1</p2>
                    <div class="matchcontainer">
                        <div class="match">
                            <div class="group">
                                <p>Gruppe A</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-deutschland.png">
                                        </div>
                                        <div class="team">
                                            <p>Deutschland</p>
                                        </div>
                                        <div class="score">
                                            <p>5</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-schottland.png">
                                        </div>
                                        <div class="team">
                                            <p>Schottland</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>21:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Samstag, 15. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 1</p2>
                    <div class="matchcontainer">
                        <div class="match">
                            <div class="group">
                                <p>Gruppe A</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-ungarn.png">
                                        </div>
                                        <div class="team">
                                            <p>Ungarn</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-schweiz.png">
                                        </div>
                                        <div class="team">
                                            <p>Schweiz</p>
                                        </div>
                                        <div class="score">
                                            <p>3</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>15:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe B</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-spanien.png">
                                        </div>
                                        <div class="team">
                                            <p>Spanien</p>
                                        </div>
                                        <div class="score">
                                            <p>3</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-kroatien.png">
                                        </div>
                                        <div class="team">
                                            <p>Kroatien</p>
                                        </div>
                                        <div class="score">
                                            <p>0</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>18:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe B</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-italien.png">
                                        </div>
                                        <div class="team">
                                            <p>Italien</p>
                                        </div>
                                        <div class="score">
                                            <p>2</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-albanien.png">
                                        </div>
                                        <div class="team">
                                            <p>Albanien</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>21:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Sonntag, 16. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 1</p2>
                    <div class="matchcontainer">
                        <div class="match">
                            <div class="group">
                                <p>Gruppe D</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-polen.png">
                                        </div>
                                        <div class="team">
                                            <p>Polen</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-niederlande.png">
                                        </div>
                                        <div class="team">
                                            <p>Niederlande</p>
                                        </div>
                                        <div class="score">
                                            <p>2</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>15:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe C</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-slovenien.png">
                                        </div>
                                        <div class="team">
                                            <p>Slovenien</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-dänemark.png">
                                        </div>
                                        <div class="team">
                                            <p>Dänemark</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>18:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe C</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-serbien.png">
                                        </div>
                                        <div class="team">
                                            <p>Serbien</p>
                                        </div>
                                        <div class="score">
                                            <p>0</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-england.png">
                                        </div>
                                        <div class="team">
                                            <p>England</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>21:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Montag, 17. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 1</p2>
                    <div class="matchcontainer">
                        <div class="match">
                            <div class="group">
                                <p>Gruppe E</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-rumänien.png">
                                        </div>
                                        <div class="team">
                                            <p>Rumänien</p>
                                        </div>
                                        <div class="score">
                                            <p>3</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-ukraine.png">
                                        </div>
                                        <div class="team">
                                            <p>Ukraine</p>
                                        </div>
                                        <div class="score">
                                            <p>0</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>15:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe E</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-belgien.png">
                                        </div>
                                        <div class="team">
                                            <p>Belgien</p>
                                        </div>
                                        <div class="score">
                                            <p>0</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-slowakei.png">
                                        </div>
                                        <div class="team">
                                            <p>Slowakei</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>18:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe D</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-österreich.png">
                                        </div>
                                        <div class="team">
                                            <p>Österreich</p>
                                        </div>
                                        <div class="score">
                                            <p>0</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-frankreich. png">
                                        </div>
                                        <div class="team">
                                            <p>Frankreich</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>21:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Dienstag, 18. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 1</p2>
                    <div class="matchcontainer">
                        <div class="match">
                            <div class="group">
                                <p>Gruppe F</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-türkei.png">
                                        </div>
                                        <div class="team">
                                            <p>Türkei</p>
                                        </div>
                                        <div class="score">
                                            <p>3</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-georgien.png">
                                        </div>
                                        <div class="team">
                                            <p>Georgien</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>18:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe F</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-portugal.png">
                                        </div>
                                        <div class="team">
                                            <p>Portugal</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-tschechien.png">
                                        </div>
                                        <div class="team">
                                            <p>Tschechien</p>
                                        </div>
                                        <div class="score">
                                            <p>1</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>21:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Mittwoch, 19. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 2</p2>
                    <div class="matchcontainer">
                        <div class="match">
                            <div class="group">
                                <p>Gruppe B</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-kroatien.png">
                                        </div>
                                        <div class="team">
                                            <p>Kroatien</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-albanien.png">
                                        </div>
                                        <div class="team">
                                            <p>Albanien</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>15:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe A</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-deutschland.png">
                                        </div>
                                        <div class="team">
                                            <p>Deutschland</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-ungarn.png">
                                        </div>
                                        <div class="team">
                                            <p>Ungarn</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>18:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe A</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-schottland.png">
                                        </div>
                                        <div class="team">
                                            <p>Schottland</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-schweiz.png">
                                        </div>
                                        <div class="team">
                                            <p>Schweiz</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>21:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Donnerstag, 20. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 2</p2>
                    <div class="matchcontainer">
                        <div class="match">
                            <div class="group">
                                <p>Gruppe C</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-slovenien.png">
                                        </div>
                                        <div class="team">
                                            <p>Slovenien</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-serbien.png">
                                        </div>
                                        <div class="team">
                                            <p>Serbien</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>15:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe C</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-dänemark.png">
                                        </div>
                                        <div class="team">
                                            <p>Dänemark</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-england.png">
                                        </div>
                                        <div class="team">
                                            <p>England</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>18:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe B</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-spanien.png">
                                        </div>
                                        <div class="team">
                                            <p>Spanien</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-italien.png">
                                        </div>
                                        <div class="team">
                                            <p>Italien</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>21:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Freitag, 21. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 2</p2>
                    <div class="matchcontainer">
                        <div class="match">
                            <div class="group">
                                <p>Gruppe E</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-slowakei.png">
                                        </div>
                                        <div class="team">
                                            <p>Slowakei</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-ukraine.png">
                                        </div>
                                        <div class="team">
                                            <p>Ukraine</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>15:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe D</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-polen.png">
                                        </div>
                                        <div class="team">
                                            <p>Polen</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-österreich.png">
                                        </div>
                                        <div class="team">
                                            <p>Österreich</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>18:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe D</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-niederlande.png">
                                        </div>
                                        <div class="team">
                                            <p>Niederlande</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-frankreich. png">
                                        </div>
                                        <div class="team">
                                            <p>Frankreich</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>21:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Samstag, 22. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 2</p2>
                    <div class="matchcontainer">
                        <div class="match">
                            <div class="group">
                                <p>Gruppe F</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-georgien.png">
                                        </div>
                                        <div class="team">
                                            <p>Georgien</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-tschechien.png">
                                        </div>
                                        <div class="team">
                                            <p>Tschechien</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>15:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe F</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-türkei.png">
                                        </div>
                                        <div class="team">
                                            <p>Türkei</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-portugal.png">
                                        </div>
                                        <div class="team">
                                            <p>Portugal</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>18:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="match">
                            <div class="group">
                                <p>Gruppe E</p>
                            </div>
                            <div class="infos">
                                <div class="infos-left">
                                    <div class="team1">
                                        <div class="flag">
                                            <img src="/assets/flagge-belgien.png">
                                        </div>
                                        <div class="team">
                                            <p>Belgien</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                </div>
                                    <div class="team2">
                                        <div class="flag">
                                            <img src="/assets/flagge-rumänien.png">
                                        </div>
                                        <div class="team">
                                            <p>Rumänien</p>
                                        </div>
                                        <div class="score">
                                            <p>-</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="infos-strich"></div>
                                <div class="infos-right">
                                    <div class="time">
                                        <p>21:00 Uhr</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Sonntag, 23. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 3</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Montag, 24. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 3</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Dienstag, 25. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 3</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                        <div class="match"></div>
                        <div class="match"></div>
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Mittwoch, 26. Juni 2024</p1>
                    <p2>Gruppenphase - Spieltag 3</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                        <div class="match"></div>
                        <div class="match"></div>
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Samstag, 29. Juni 2024</p1>
                    <p2>Achtelfinale</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Sonntag, 30. Juni 2024</p1>
                    <p2>Achtelfinale</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Montag, 01. Juli 2024</p1>
                    <p2>Achtelfinale</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Dienstag, 02. Juli 2024</p1>
                    <p2>Achtelfinale</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Freitag, 05. Juli 2024</p1>
                    <p2>Viertelfinale</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Samstag, 06. Juli 2024</p1>
                    <p2>Viertelfinale</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Dienstag, 09. Juli 2024</p1>
                    <p2>Halbfinale</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Mittwoch, 10. Juli 2024</p1>
                    <p2>Halbfinale</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                    </div>
                </div>
                <div class="boardcontainer">
                    <p1>Sonntag, 14. Juli 2024</p1>
                    <p2>Finale</p2>
                    <div class="matchcontainer">
                        <div class="match"></div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>