<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="kader.css">
</head>
<body>
   <header class="header">
        <a href="index.html"><img src="assets/Logo.png" class="logo"></a>
        <input type="checkbox" id="check">
        <label for="check" class="menu">
            <i class="bx bx-menu" id="icon-menu"></i>
            <i class="bx bx-x" id="close-menu"></i>
        </label>    
        <nav class="navbar">
            <a href="index.html">Startseite</a>
            <a href="stadien.html">Euro 2024</a>
            <a href="ergebnisse.html" style="color: #C1A875">Ergebnisse</a>
            <a href="forum.html">Forum</a>
            <a href="login.html">Login</a>
        </nav>
    </header>
</body>
</html>