<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header class="header">
        <a href="/"><img src="/assets/Logo.png" class="logo"></a>
        <input type="checkbox" id="check">
        <label for="check" class="menu">
            <i class="bx bx-menu" id="icon-menu"></i>
            <i class="bx bx-x" id="close-menu"></i>
        </label>    
        <nav class="navbar">
            <a href="/">Startseite</a>
            <a href="/kader">DFB-Kader</a>
            <a href="/stadien">Stadien</a>
            <a href="/ergebnisse">Ergebnisse</a>
            <a href="/forum">Forum</a>
            <a href="/login" style="color: #C1A875">Login</a>
        </nav>
    </header>
    <div class="wrapper">
        <form method="post" action="/login" class="form-box login">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" name="username" placeholder="Benutzername" autocomplete="off" required value="">
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Passwort" autocomplete="off" required value="">
                <i class='bx bxs-lock-alt'></i>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="link register-link">
                <p>Du hast noch keinen Account? <a href="#register">Registrieren</a></p>
            </div>
        </form>
        
        <form class="form-box register" id="registerForm">
            <h1>Registrieren</h1>
            <div class="input-box">
                <input type="text" name="username" placeholder="Benutzername" autocomplete="off" required value="">
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="email" name="email" placeholder="Email" autocomplete="off" required value="">
                <i class='bx bxs-envelope' style='color:#ffffff'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Passwort" autocomplete="off" required minlength="8" value="">
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="checkbox">
                <label id="label">
                    <input type="checkbox" id="checkbox"> Ich stimme den Nutzungsbedingungen zu
                </label>
            </div>
            <button type="submit" class="btn" id="button">Registrieren</button>
            <div class="link login-link">
                <p>Du hast bereits einen Account? <a href="#">Login</a></p>
            </div>
        </form>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>
