<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <header class="header">
        <a href="/"><img src="/assets/Logo.png" class="logo"></a>
        <input type="checkbox" id="check">
        <label for="check" class="menu">
            <i class="bx bx-menu" id="icon-menu"></i>
            <i class="bx bx-x" id="close-menu"></i>
        </label>
        <nav class="navbar">
            <a href="/">Startseite</a>
            <a href="/kader">DFB-Kader</a>
            <a href="/stadien">Stadien</a>
            <a href="/ergebnisse">Ergebnisse</a>
            <a href="/forum">Forum</a>
            <a href="/login" style="color: #C1A875">Login</a>
        </nav>
    </header>
    <div class="wrapper">
        <div class="box">
            <div class="profilepicture">
                <label>Profilbild</label>
                <img id="profile-picture" src="/assets/user.png">
                <input type="file" id="profile-picture-input" style="display: none;">
                <button class="picturebutton" id="upload-button">Bild auswählen</button>
            </div>
            <form id="profile-form">
                <div class="input-container">
                    <label>Benutzername</label>
                    <input type="text" id="username" placeholder="Benutzername"/>
                </div>
                <div class="input-container">
                    <label>Email</label>
                    <input type="email" id="email" placeholder="Email"/>
                </div>
                <div class="input-container">
                    <label>Neues Passwort</label>
                    <input type="text" id="password" placeholder="Neues Passwort"/>
                </div>
                <button type="submit" class="btn">Speichern</button>
            </form>
        </div>
    </div>
    <script src="/js/profile.js"></script>
</body>
</html>
