<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="stadien.css">
</head>
<body>
    <header class="header">
        <a href="#"><img src="assets\Logo.png" class="logo"></a>
        <input type="checkbox" id="check">
        <label for="check" class="menu">
            <i class="bx bx-menu" id="icon-menu"></i>
            <i class="bx bx-x" id="close-menu"></i>
        </label>    
        <nav class="navbar">
            <a href="#">Startseite</a>
            <a href="#">Euro 2024</a>
            <a href="#">Ergebnisse</a>
            <a href="#">Forum</a>
            <a href="#">Login</a>
        </nav>
        </header>
   <div class="slider">
    <div class="myslider fade" style="display: block;">
        <div class="text">
            <div class="blau">
                <span>Olympiastadion</span>
                <h2>Berlin</h2>
                <a href="#berlin" class="button">Erfahre mehr</a>
        </div>
        </div>
        <img src="assets/olympiastadion2.jpeg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="rot">
                <span>Allianz Arena</span>
                <h2>München</h2>
                <a href="#bayern" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-bayern.png" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="gelb">
                <span>Signal Iduna Park</span>
                <h2>Dortmund</h2>
                <a href="#dortmund" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-dortmund.jpg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="blau">
                <span>Volksparkstadium</span>
                <h2>Hamburg</h2>
                <a href="#hamburg" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-hsv.jpg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="schwarz">
                <span>Deutsche Bank Park</span>
                <h2>Frankfurt</h2>
                <a href="#frankfurt" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-frankfurt.jpg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="blau">
                <span>Veltins-Arena</span>
                <h2>Gelsenkirchen</h2>
                <a href="#gelsenkirchen" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-gelsenkirchen.png" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="rot">
                <span>Red Bull Arena</span>
                <h2>Leipzig</h2>
                <a href="#leipzig" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-leipzig.jpeg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="rot">
                <span>Merkur Spiel-Arena</span>
                <h2>Düsseldorf</h2>
                <a href="#düsseldorf" class="button">Erfahre mehr</a>
        </div>
        </div>
        <img src="assets\stadion-dusseldorf2.jpg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="rot">
                <span>Rheinenergiestadion</span>
                <h2>Köln</h2>
                <a href="#köln" class="button">Erfahre mehr</a>
        </div>
        </div>
        <img src="assets\stadion-koeln.jpg" class="image">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div class="dotsbox" style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
        <span class="dot" onclick="currentSlide(9)"></span>
    </div>
   </div>

   <div class="container" id="berlin">
        <div class="main-container" >
            <div class="container2" id="text-info">
                <h1>Olympiastadion</h1>
                <p><br>Verein: Hertha BSC<br><br>
                    Stadt: Berlin<br><br>
                    Kapazität: 74.475<br><br>
                    Eröffnung: 1936<br><br>
            </div>
            <div class="container2" id="text-bild">
                <img src="assets/berlin-stadion-außen.webp">
            </div>
            <div class="container2" id="text-ganz">
                <p>Das Olympiastadion in Berlin, erbaut für die Olympischen Spiele 1936, ist heute eine der bekanntesten Sportstätten Deutschlands. Im Bezirk Charlottenburg-Wilmersdorf gelegen, wurde es zwischen 2000 und 2004 umfassend modernisiert. Mit einer Kapazität von rund 74.475 Zuschauern und modernen Einrichtungen bietet es Platz für Heimspiele von Hertha BSC, das jährliche DFB-Pokal-Finale, Leichtathletikveranstaltungen und große Konzerte. Das Stadion, im Besitz des Landes Berlin und betrieben von der Olympiastadion Berlin GmbH, war auch Austragungsort des WM-Finales 2006 und des UEFA Champions League Finales 2015. Ein bedeutendes DFB-Länderspiel fand am 22. März 2018 statt, als Deutschland gegen Brasilien mit 0:1 verlor.</p>
            </div>
        </div>  
    </div>

    <div class="container" id="bayern">
        <div class="main-container" >
            <div class="container2" id="text-info">
                <h1>Allianz Arena</h1>
                <p><br>Verein: FC Bayern München<br><br>
                    Stadt: München<br><br>
                    Kapazität: 75.000<br><br>
                    Eröffnung: 2005<br><br>
            </div>
            <div class="container2" id="text-bild">
                <img src="assets/bayern-stadion-außen.jpeg">
            </div>
            <div class="container2" id="text-ganz">
                <p>Die Allianz Arena, eröffnet am 30. Mai 2005, ist das beeindruckende Heimstadion des FC Bayern München und befindet sich im Münchner Stadtteil Fröttmaning. Mit einer Kapazität von etwa 75.000 Zuschauern bei Bundesliga-Spielen und 70.000 bei internationalen Spielen bietet sie Platz für eine große Anzahl von Fans. Ihre markante Architektur mit einer Außenhülle aus beleuchtbaren ETFE-Folienkissen ermöglicht es, die Arena in verschiedenen Farben erstrahlen zu lassen, was sie zu einem der auffälligsten Stadien weltweit macht. Neben den Heimspielen des FC Bayern München werden in der Allianz Arena auch große Veranstaltungen wie Konzerte und Länderspiele ausgerichtet. Ein Highlight ihrer Geschichte ist die Ausrichtung des Eröffnungsspiels der Fußball-Weltmeisterschaft 2006.</p></p>
            </div>
        </div>  
    </div>
    <div class="container" id="dortmund">
        <div class="main-container" >
            <div class="container2" id="text-info">
                <h1>Signal Iduna Park</h1>
                <p><br>Borussia Dortmund<br><br>
                    Stadt: Dortmund<br><br>
                    Kapazität: 81.000<br><br>
                    Eröffnung: 1974<br><br>
            </div>
            <div class="container2" id="text-bild">
                <img src="assets/dortmund-stadion-außen.jpg">
            </div>
            <div class="container2" id="text-ganz">
                <p>Der Signal Iduna Park, auch bekannt als Westfalenstadion, wurde 1974 eröffnet und ist die Heimat von Borussia Dortmund. Mit einer Kapazität von über 81.000 Plätzen ist es das größte Stadion Deutschlands. Besonders berühmt ist die "Gelbe Wand" auf der Südtribüne, die größte Stehplatztribüne Europas, die für eine einzigartige und beeindruckende Atmosphäre sorgt. Die moderne Infrastruktur und die traditionsreiche Geschichte machen den Signal Iduna Park zu einem der bedeutendsten Fußballstadien der Welt. Ein denkwürdiges Länderspiel fand am 4. März 2009 hier statt, als Deutschland gegen Italien spielte und das Spiel mit einem 1:1-Unentschieden endete.</p>
            </div>
        </div>  
    </div>
    <div class="container" id="hamburg">
        <div class="main-container" >
            <div class="container2" id="text-info">
                <h1>Volksparkstadion</h1>
                <p><br>Verein: Hamburger SV<br><br>
                    Stadt: Hamburg<br><br>
                    Kapazität: 57.000<br><br>
                    Eröffnung: 1953<br><br>
            </div>
            <div class="container2" id="text-bild">
                <img src="assets/hamburg-stadion-außen.jpg">
            </div>
            <div class="container2" id="text-ganz">
                <p>Das Volksparkstadion in Hamburg wurde 1953 eröffnet und seither mehrfach modernisiert. Es bietet Platz für über 57.000 Zuschauer und ist die Heimat des Hamburger SV. Das Stadion ist bekannt für seine markanten Dächer und seine großartige Akustik, die eine leidenschaftliche Atmosphäre schafft. Es dient nicht nur als Fußballstadion, sondern auch als Veranstaltungsort für Konzerte und andere Großereignisse. Am 2. September 2011 war das Volksparkstadion Schauplatz des EM-Qualifikationsspiels Deutschland gegen Österreich, bei dem Deutschland mit 6:2 siegte.

</p>
            </div>
        </div>  
    </div>
    <div class="container" id="frankfurt">
        <div class="main-container" >
            <div class="container2" id="text-info">
                <h1>Deutsche Bank Park</h1>
                <p><br>Verein: Eintracht Frankfurt<br><br>
                    Stadt: Frankfurt<br><br>
                    Kapazität: 51.500<br><br>
                    Eröffnung: 1925<br><br>
            </div>
            <div class="container2" id="text-bild">
                <img src="assets/frankfurt-stadion-außen.jpg">
            </div>
            <div class="container2" id="text-ganz">
                <p>Der Deutsche Bank Park in Frankfurt am Main, früher als Waldstadion bekannt, ist die Heimat von Eintracht Frankfurt und ein wichtiger Austragungsort für Sport- und Kulturveranstaltungen. Eröffnet 1925 und zuletzt umfassend zwischen 2002 und 2005 modernisiert, bietet das Stadion Platz für etwa 51.500 Zuschauer bei Bundesliga-Spielen. Es verfügt über moderne Technik, VIP-Logen und umfangreiche gastronomische Angebote. Das Stadion, im Besitz der Stadt Frankfurt und betrieben von der Stadion Frankfurt Management GmbH, war ein wichtiger Austragungsort der FIFA-Weltmeisterschaft 2006 und wird auch bei der Fußball-Europameisterschaft 2024 genutzt. Ein bedeutendes DFB-Länderspiel fand am 9. Oktober 2019 statt, als Deutschland gegen Argentinien 2:2 unentschieden spielte.</p>
            </div>
        </div>  
    </div>
    <div class="container" id="gelsenkirchen">
        <div class="main-container" >
            <div class="container2" id="text-info">
                <h1>Veltins-Arena</h1>
                <p><br>Verein: FC Schalke 04<br><br>
                    Stadt: Gelsenkrichen<br><br>
                    Kapazität: 62.000<br><br>
                    Eröffnung: 2001<br><br>
            </div>
            <div class="container2" id="text-bild">
                <img src="assets/gelsenkirchen-stadion-außen.jpg">
            </div>
            <div class="container2" id="text-ganz">
                <p>Die Veltins-Arena, eröffnet 2001, ist das Zuhause des FC Schalke 04 und bietet Platz für über 62.000 Zuschauer. Mit ihrem einziehbaren Dach und Rasen gehört sie zu den modernsten Arenen Europas. Sie ist nicht nur für Fußballspiele, sondern auch für zahlreiche andere Veranstaltungen wie Konzerte und Eishockeyspiele bekannt. Ein historisches Ereignis war das WM-Halbfinale am 4. Juli 2006 zwischen Deutschland und Italien, das in der Verlängerung mit 0:2 endete.

</p>
            </div>
        </div>  
    </div>
    <div class="container" id="leipzig">
        <div class="main-container" >
            <div class="container2" id="text-info">
                <h1>Red Bull Arena</h1>
                <p><br>Verein: RB Leipzig<br><br>
                    Stadt: Leipzig<br><br>
                    Kapazität: 42.000<br><br>
                    Eröffnung: 2004<br><br>
            </div>
            <div class="container2" id="text-bild">
                <img src="assets/leipzig-stadion-außen.jpg">
            </div>
            <div class="container2" id="text-ganz">
                <p>Die Red Bull Arena in Leipzig wurde 2004 eröffnet und ist die Heimat von RB Leipzig. Sie bietet Platz für über 42.000 Zuschauer und ist bekannt für ihre moderne Architektur und lebhafte Atmosphäre. Die Arena wurde auf den Fundamenten des ehemaligen Zentralstadions errichtet und verbindet Tradition mit Moderne. Am 27. März 2018 fand hier das Freundschaftsspiel Deutschland gegen Brasilien statt, das Deutschland mit 1:0 gewann.</p>
            </div>
        </div>  
    </div>
    <div class="container" id="düsseldorf">
        <div class="main-container" >
            <div class="container2" id="text-info">
                <h1>Merkur Spiel-Arena</h1>
                <p><br>Verein: Fortuna Düsseldorf<br><br>
                    Stadt: Düsseldorf<br><br>
                    Kapazität: 54.000<br><br>
                    Eröffnung: 2004<br><br>
            </div>
            <div class="container2" id="text-bild">
                <img src="assets/düsseldorf-stadion-außen.jpg">
            </div>
            <div class="container2" id="text-ganz">
                <p>Die Merkur Spiel-Arena in Düsseldorf wurde 2004 eröffnet und ist die Heimat von Fortuna Düsseldorf. Mit einer Kapazität von über 54.000 Zuschauern und einem schließbaren Dach bietet sie hervorragende Bedingungen für eine Vielzahl von Veranstaltungen. Das Stadion ist nicht nur für Fußballspiele, sondern auch für Konzerte und andere Großveranstaltungen bekannt. Am 9. Oktober 2019 fand hier das Freundschaftsspiel Deutschland gegen Argentinien statt, das mit einem spannenden 2:2-Unentschieden endete.</p>
            </div>
        </div>  
    </div>
    <div class="container" id="köln">
        <div class="main-container" >
            <div class="container2" id="text-info">
                <h1>RheinEnergieStadion</h1>
                <p><br>Verein: 1. FC Köln<br><br>
                    Stadt: Köln<br><br>
                    Kapazität: 49.000<br><br>
                    Eröffnung: 1923<br><br>
            </div>
            <div class="container2" id="text-bild">
                <img src="assets/köln-stadion-außen.jpg">
            </div>
            <div class="container2" id="text-ganz">
                <p>Das RheinEnergieStadion in Köln, Heimat des 1. FC Köln, wurde 1923 eröffnet und seither mehrfach modernisiert. Mit einer Kapazität von über 49.000 Zuschauern ist es ein wichtiger Bestandteil der Kölner Sportkultur. Das Stadion ist bekannt für seine traditionsreiche Atmosphäre und die leidenschaftlichen Fans. Am 11. Oktober 2014 war das Stadion Schauplatz des EM-Qualifikationsspiels Deutschland gegen Irland, das mit einem 1:1-Unentschieden endete.</p>
            </div>
        </div>  
    </div>


   <script src="stadien.js"></script>
</body>
</html>
