<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="stadien.css">
</head>
<body>
    <header class="header">
        <a href="#"><img src="assets/Logo.png" class="logo"></a>
        <input type="checkbox" id="check">
        <label for="check" class="menu">
            <i class="bx bx-menu" id="icon-menu"></i>
            <i class="bx bx-x" id="close-menu"></i>
        </label>    
        <nav class="navbar">
            <a href="#">Startseite</a>
            <a href="#">Euro 2024</a>
            <a href="#">Ergebnisse</a>
            <a href="#">Forum</a>
            <a href="#">Login</a>
        </nav>
        </header>
   <div class="slider">
    <div class="myslider fade" style="display: block;">
        <div class="text">
            <div class="blau">
                <span>Olympiastadion</span>
                <h2>Berlin</h2>
                <a href="#" class="button">Erfahre mehr</a>
        </div>
        </div>
        <img src="assets/olympiastadion2.jpeg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="rot">
                <span>Allianz Arena</span>
                <h2>München</h2>
                <a href="#" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-bayern.png" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="gelb">
                <span>Signal Iduna Park</span>
                <h2>Dortmund</h2>
                <a href="#" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-dortmund.jpg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="blau">
                <span>Volksparkstadium</span>
                <h2>Hamburg</h2>
                <a href="#" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-hsv.jpg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="schwarz">
                <span>Deutsche Bank Park</span>
                <h2>Frankfurt</h2>
                <a href="#" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-frankfurt.jpg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="blau">
                <span>Veltins-Arena</span>
                <h2>Gelsenkirchen</h2>
                <a href="#" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-gelsenkirchen.png" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="rot">
                <span>Red Bull Arena</span>
                <h2>Leipzig</h2>
                <a href="#" class="button">Erfahre mehr</a>
            </div>
        </div>
        <img src="assets\stadion-leipzig.jpeg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="rot">
                <span>Merkur Spiel-Arena</span>
                <h2>Düsseldorf</h2>
                <a href="#" class="button">Erfahre mehr</a>
        </div>
        </div>
        <img src="assets\stadion-dusseldorf2.jpg" class="image">
    </div>
    <div class="myslider fade">
        <div class="text">
            <div class="rot">
                <span>Rheinenergiestadion</span>
                <h2>Köln</h2>
                <a href="#" class="button">Erfahre mehr</a>
        </div>
        </div>
        <img src="img\stadion-koeln.jpg" class="image">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div class="dotsbox" style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
        <span class="dot" onclick="currentSlide(9)"></span>
    </div>
   </div>

   <div class="container" id="bayern">
        <div class="main-container" >
            
            <div class="container2" id="text-info">
                <h1>Allianz Arena</h1>
                <p>Verein: FC Bayern München<br><br>
                    Stadt: München<br><br>
                    Kapazität: 0<br><br>
                    Eröffnung: 1850<br><br>
                    Größe?</p>
            </div>
            <div class="container2" id="text-bild">
                <img src="assets/bayern-stadion-außen.jpeg">
            </div>
            <div class="container2" id="text-ganz">
                <p>Die Allianz Arena, eröffnet am 30. Mai 2005, ist das beeindruckende Heimstadion des FC Bayern München und befindet sich im Münchner Stadtteil Fröttmaning. Mit einer Kapazität von etwa 75.000 Zuschauern bei Bundesliga-Spielen und 70.000 bei internationalen Spielen bietet sie Platz für eine große Anzahl von Fans. Ihre markante Architektur mit einer Außenhülle aus beleuchtbaren ETFE-Folienkissen ermöglicht es, die Arena in verschiedenen Farben erstrahlen zu lassen, was sie zu einem der auffälligsten Stadien weltweit macht. Neben den Heimspielen des FC Bayern München werden in der Allianz Arena auch große Veranstaltungen wie Konzerte und Länderspiele ausgerichtet. Ein Highlight ihrer Geschichte ist die Ausrichtung des Eröffnungsspiels der Fußball-Weltmeisterschaft 2006.</p></p>
            </div>
        </div>
        
      
    </div>

   <script src="script.js"></script>
</body>
</html>