* {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    background-color: black;
} 
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container {
    display: flex;
    flex: 1;
}

/* Navigationsbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 110px;
    border-style: solid;
    border-color: #C1A875;
    border-width: 2px;
}
.header a {
    width: 125px; 
    height: 83px;
}
.logo {
    width: 100%;
}
.navbar {
    display: block;
    margin-right: 20px;
}
.navbar a {
    position: relative;
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: .50s ease;
    font-size: 20px;
}
.navbar a:hover {
    color: #C1A875;
}
#check {
    display: none;
}

.menu {
    position: absolute;
    right: 5%;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/*Responsive Design Navigationsbar*/
@media (max-width: 1160px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 1030px) {
    .menu {
        display: inline-flex;
    }
    #check:checked ~ .menu #icon-menu {
        display: none;
    }
    .menu #close-menu {
        display: none;
    }
    #check:checked ~ .menu #close-menu {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        width: calc(100% + 4px);
        margin-left: -2px;
        height: 0;
        background: rgb(black);
        border-style: solid;
        border-color: #C1A875;
        border-width: 1px;
        overflow: hidden;
        transition: .2s ease;
    }
    #check:checked ~ .navbar {
        height: 23rem;
    }
    .navbar a {
        display: block;
        height: 35px;
        margin: 1.5rem auto;
        text-align: center;
        transition: -2s ease;
        font-size: 20px;
    }
    #check:checked ~ .navbar a{
        transform: translateY(0);
    }
}

/* Sidebar */
.sidebar {
    width: 25%;
    height: 1000px;
    border-style: solid;
    border-color: #C1A875;
    border-width: 2px;
    position: fixed;
    margin-top: 108px;
    transition: all 0.3s;
}
.sidebar li {
    height: 50px;
    margin-top: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 55px;
}
.button-18 {
    margin-left: -10px;
}
.sidebar-icon {
    height: 30px;
}
.sidebar li .text {
    color: white;
    margin-left: 35px;
    font-size: 25px;
}
.sidebar li a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar li .text.active {
    color: #C1A875;
}
.sidebar li a:hover .text {
    color: #C1A875;
}
.sidebar li a:hover #icon1 {
    background-image: url("/assets/homefill.png");
    background-size: cover;
}
.sidebar li a:hover #icon2 {
    background-image: url("/assets/Angesagtfill.png");
    background-size: cover;
}

.sidebar li a:hover #icon3 {
    background-image: url("/assets/icon-uhr-fill.png");
    background-size: cover;
}
.sidebar li a:hover #icon4 {
    background-image: url("/assets/icon-topic-fill.png");
    background-size: cover;
    }
#check2 {
    display: none;
}
.sidebar-menu {
    margin-left: 55px;
    margin-top: 25px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.sidebar input[type="checkbox"]:checked ~ .menu-block {
    display: block;
}
/*Responsive Design Sidebar*/
@media (max-width: 1100px) {
    .sidebar-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .sidebar li .text {
        display: none
    }
    .sidebar li {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 33px;
        margin-top: 10px;
    }
    #check2:checked ~ .sidebar-menu #icon-menu2 {
        display: none;
    }
    .sidebar-menu #close-menu2 {
        display: none;
    }
    #check2:checked ~ .sidebar-menu #close-menu2 {
        display: block;
    }
    #check2:checked ~ .sidebar {
        width: 20rem;
    }
    .sidebar input[type="checkbox"]:checked ~ .menu-block .nav-text {
        display: inline;
    }
}

/* Bereich für Kommentare */
.main {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: black;
    margin-left: 25%;
    margin-top: 110px;
}
@media (max-width: 1100px) {
    .main {
        margin-left: 100px;
        width: calc(100% - 100px);
    }
}
.commentsection {
    text-align: center;
    width: 60%;
    color: white;
}
.comment-container {
    border: 2px solid rgba(80, 80, 80, 0.5);
    padding: 15px;
    display: flex;
    margin-top: -2px;
}
.profile-picture-section {
    width: 10%;
}
.profile-picture-section img {
    width: 100%;
    border-radius: 200px;
    margin-top: 15px;
}
/* Rechte Section der Commentsection */
.comment {
    text-align: left;
    padding: 15px;
    width: 90%;
}
.user {
    text-align: left;
    font-weight: 800;
    font-size: 22px;
}
.comment p {
    margin-top: 10px;
    text-align: left;
    font-size: 22px;
    hyphens: auto;
    text-align: justify;
}
.comment img {
    margin-top: 10px;
    border-radius: 18px;
    border: 2px solid rgba(80, 80, 80, 0.5);
    width: 100%;
}
.comment-section {
    display: none;
}
.comment-section.active {
    display: block;
}
/* Responsives Design Kommentare */
@media (max-width: 1450px) { 
    .commentsection {
        width: 80%;
    }
}
@media (max-width: 915px) { 
    .user {
        font-size: 18px;
    }
    .comment p {
        font-size: 18px;
    }
}
@media (max-width: 730px) { 
    .user {
        font-size: 16px;
    }
    .comment p {
        font-size: 16px;
    }
}
/* Post-Button und Pop up*/
.button-18 {
    align-items: center;
    background-color:#C1A875;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    margin-top: 35px;
    font-size: 25px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    width: 80%;
    min-height: 50px;
    overflow: hidden;
    padding: 0px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
.button-18:hover,
.button-18:focus { 
    background-color: #8d7950;
    color: #ffffff;
}
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(201, 201, 201, 0.5);
    opacity: 0.5;
    z-index: 1;
    display: none;
}
.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: black;
    width: 550px;
    height: 290px;
    z-index: 2;
    text-align: center;  
    padding: 20px; 
    box-sizing: border-box; 
    border-radius: 18px;
}
.popup .close-btn {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay {
    display: block;
}
.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
.popup .commentbox {
    display: flex;
    padding: 3px;
    margin-top: 50px;
}
.popup .commentbox .userimage {
    width: 50px;
}
.popup .commentbox .userimage {
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.popup .commentinput {
    width: 100%;
}
.popup .commentinput > textarea {
    display: flex;
    border: none;
    padding: 10px;
    padding-left: 20px;
    outline: none;
    width: 100%;
    height: 150px;
    font-size: 22px;
    color: white;
    overflow: auto;
    resize: none;
}
.popup .bottomsection {
    display: flex;
    height: 50px;
    margin-top: 5px;
    border-top: 1px solid lightgrey;;
}
.popup .bottomsection .icons {
    width: 70%;
    display: flex;
}
.popup .bottomsection .icons button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.popup .bottomsection img {
    margin-top: 14px;
    width: 27px;
    height: 27px;

}
.popup .bottomsection .post-button {
    width: 30%;
}
.popup .bottomsection .button-18 {
    margin-top: 10px;
    margin-left: 50px;
    align-items: center;
    min-height: 35px;
    width: 90px;
    font-size: 18px;
}
#imageOutput {
    max-width: 100%;
    height: auto;
    position: relative;
}
.popup .commentbox img {
    max-width: 100%;
    max-height: 400px;
    border-radius: 18px;
}
.popup .commentbox img.portrait {
    width: auto;
    height: 100%;
}
.popup .commentbox img.landscape {
    width: 100%;
    height: auto;
}
#uploadMessage {
    display: none;
    color: #C1A875;
    margin-top: 10px;
}
.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}
#uploadButton[disabled] {
position: relative;
}
#uploadButton[disabled]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 120%;
    background-color: #333;
    color: #C1A875;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}
#uploadButton[disabled]:hover::after {
    display: block;
    opacity: 1;
}